.card{
    width: 400px;
    padding: 20px;
    margin: 0 auto;
}

.btn{
    margin-top: 20px;
    background-color: #DE532C;
    border: none;
}
.card-header{
    background-color: rgba(86, 123, 151, 0.2);
}
