<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand" href="#">Welcome {{user.name}}</a>
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <img class="arrow" (click)="showdash()" src="../assets/img/icons8-arrow-left-64 copy.PNG" alt="">
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" (click)="showdash()" href="#">Show Dashboard | </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Logout</a>
      </li>
    </ul>
  </div> 
</nav>
  <div class="col-8" id="runner-header">
    <!-- ======= Runners =========== -->
    <div class="card-header tableTile">
      <div class="row">
        <div class="col-10">
          <h3 class="pull-right">Runners</h3>
        </div>
        <div class="col-2">
          <img class="scroll-arrow" (click)="scrollDown()" src="../assets/img/icons8-double-down-64.PNG" alt="">
        </div>

      </div>

    </div>    
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th></th>
          <th>First name</th>
          <th>Total Distance</th>
          <th>Latest Upload</th>
        </tr>
      </thead>
      <tbody>  
        <tr *ngFor="let x of runner.slice(0,3) ,let z = index">
          <td *ngIf="z == 0"><img style="width: 40px;" src="../assets/img/flex/GOLD-FLEX.PNG"  alt=""></td>
          <td *ngIf="z == 1"><img style="width: 40px;" src="../assets/img/flex/SILVER-FLEX.PNG"  alt=""></td>
          <td *ngIf="z == 2"><img style="width: 40px;" src="../assets/img/flex/BRONZE-FLEX.PNG"  alt=""></td>
          <td>{{x.name}}</td>
          <td>{{x.totalDist}} Miles</td>
          <td *ngIf="x.distance.length >= 1"><button type="button" data-toggle="modal" (click)="show(x.distance[0][2])">
            <img style="width: 40px;" [src]="x.distance[0][2]" alt="">
          </button></td>
          <div *ngIf="x.distance.length >= 1" class="modal" [attr.id]="x.distance[0][2]">
            <div class="modal-dialog lead-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" (click)="close(x.distance[0][2])">&times;</button>
                </div>
                <div class="modal-body">
                  <img style="width: 100%;" [src]="x.distance[0][2]" alt="">
                </div>
              </div>
            </div>
          </div>
        </tr>
        <tr *ngFor="let x of runner.slice(3) ,let z = index">
          <td>{{z+4}}</td>
          <td>{{x.name}}</td>
          <td>{{x.totalDist}} Miles</td>
          <td *ngIf="x.distance.length >= 1"><button type="button" data-toggle="modal" (click)="show(x.distance[0][2])">
            <img style="width: 40px;" [src]="x.distance[0][2]" alt="">
          </button></td>
          <div *ngIf="x.distance.length >= 1" class="modal" [attr.id]="x.distance[0][2]">
            <div class="modal-dialog lead-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" (click)="close(x.distance[0][2])">&times;</button>
                </div>
                <div class="modal-body">
                  <img style="width: 100%;" [src]="x.distance[0][2]" alt="">
                </div>
              </div>
            </div>
          </div>
        </tr>
      </tbody>
    </table>


    <div class="card-header tableTile" id="walker-header">
      <div class="row">
        <div class="col-10">
          <h3 class="pull-right">Power Walkers</h3>
        </div>
        <div class="col-2">
          <img class="scroll-arrow" style="transform: rotate(180deg);"  (click)="scrollUp()" src="../assets/img/icons8-double-down-64.PNG" alt="">
        </div>

      </div>

    </div>  
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th></th>
          <th>First name</th>
          <th>Total Distance</th>
          <th>Latest Upload</th>
        </tr>
      </thead>
      <tbody>  
        <tr *ngFor="let x of walkers.slice(0,3) ,let z = index">
          <td *ngIf="z == 0"><img style="width: 40px;" src="../assets/img/flex/GOLD-FLEX.PNG"  alt=""></td>
          <td *ngIf="z == 1"><img style="width: 40px;" src="../assets/img/flex/SILVER-FLEX.PNG"  alt=""></td>
          <td *ngIf="z == 2"><img style="width: 40px;" src="../assets/img/flex/BRONZE-FLEX.PNG"  alt=""></td>
          <td>{{x.name}}</td>
          <td>{{x.totalDist}} Miles</td>
          <td *ngIf="x.distance.length >= 1"><button type="button" data-toggle="modal" (click)="show(x.distance[0][2])">
            <img style="width: 40px;" [src]="x.distance[0][2]" alt="">
          </button></td>
          <div *ngIf="x.distance.length >= 1" class="modal" [attr.id]="x.distance[0][2]">
            <div class="modal-dialog lead-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" (click)="close(x.distance[0][2])">&times;</button>
                </div>
                <div class="modal-body">
                  <img style="width: 100%;" [src]="x.distance[0][2]" alt="">
                </div>
              </div>
            </div>
          </div>
        </tr>
        <tr *ngFor="let x of walkers.slice(3) ,let z = index">
          <td>{{z+4}}</td>
          <td>{{x.name}}</td>
          <td>{{x.totalDist}} Miles</td>
          <td *ngIf="x.distance.length >= 1"><button type="button" data-toggle="modal" (click)="show(x.distance[0][2])">
            <img style="width: 40px;" [src]="x.distance[0][2]" alt="">
          </button></td>
          <div *ngIf="x.distance.length >= 1" class="modal" [attr.id]="x.distance[0][2]">
            <div class="modal-dialog lead-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" (click)="close(x.distance[0][2])">&times;</button>
                </div>
                <div class="modal-body">
                  <img style="width: 100%;" [src]="x.distance[0][2]" alt="">
                </div>
              </div>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
    <!-- ========================== -->
  </div>
  <div class="col-4">
    <div class="card">
      <h3 class="card-header">This Months Challenge</h3>
      <h4 style="font-weight: bold; margin-top: 20px;" class="card-header challenge-title">May Mayhem Marathon</h4>

      
      <h4>
        This month the top distance for Runners and Power
        Walkers will win. <br> Be sure to upload a pic of tracked miles
      </h4>
      <h4 class="card-header challenge-title">This Months Prize</h4>
      <h4>$10 Starbucks Gift Card to top Runner and Power Walker!</h4>

    </div>
    <div class="card">
      <h3 class="card-header">Last Challenge Winner</h3>
      <h2 class="animated infinite pulse delay-1s">Your Name Here!</h2>
      <hr>
      <!-- <h4>Winner Miles</h4> -->
    </div>
  </div>

