*{
    vertical-align: top;
}
.table-dark{
    background-color: #567B97;
}
.card-header{
    background-color: rgba(86, 123, 151, 0.2);

}
.title{
    margin-top: 20px;
    background-color: rgba(222, 83, 44, 0.2);
    text-align: center;
}
.tableTile{
    background-color: rgba(86, 123, 151, 0.2);
    text-align: center;
    margin-top: 20px;

    
}

@media (min-width: 576px){
    .lead-dialog {
        max-width: 801px;
    }

}

.navbar-dark{
    background-color: rgba(86, 123, 151, 0.2);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(86, 123, 151);
    font-size: 20px;
    /* margin-left: 265px; */
}

.navbar-dark .navbar-brand {
    color: rgb(86, 123, 151);
    font-size: 20px;
    font-weight: bolder;

}
.navbar-nav{
    margin-left: 265px;
}
.col-8{
    display: inline-block    
    
}
.col-4{
    display: inline-block
}
.card{
    margin-top: 20px;
    position: relative;
    height: 300px;
}
img{
    height: 290px;
    position: absolute;
    width: 100%;
    opacity: .2;
}
.twist{
    transform: rotate(-45deg);
    text-shadow: 2px 2px rgba(222, 83, 44, 0.2);
    font-size: 51px;
    margin: auto;
}

