<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand" href="#">Welcome {{user.name}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <img class="arrow" (click)="showdash()" src="../assets/img/icons8-arrow-left-64.PNG" alt="">
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" (click)="showdash()" href="#">Show Dashboard | </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<h3 class="card-header title">Leader Dashboard</h3>
  <div class="col-8">
    <!-- ======= Runners =========== -->
    <h3 class="card-header tableTile">Runners</h3>
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>First name</th>
          <th>Total Distance</th>
          <th>Latest Upload</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of runner">
          <td>{{x.name}}</td>
          <td>{{x.totalDist}} Miles</td>
          <td *ngIf="x.distance.length >= 1"><button type="button" data-toggle="modal" (click)="show(x.distance[0][2])">
            <img style="width: 40px;" [src]="x.distance[x.distance.length-1][2]" alt="">
          </button></td>
          <div class="modal" [attr.id]="x.distance[0][2]">
            <div class="modal-dialog lead-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" (click)="close(x.distance[0][2])">&times;</button>
                </div>
                <div class="modal-body">
                  <img style="width: 100%;" [src]="x.distance[x.distance.length-1][2]" alt="">
                </div>
              </div>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
    <!-- ========================== -->

    <!-- ======= Walkers =========== -->
    <h3 class="card-header tableTile">Power Walkers</h3>
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>First name</th>
          <th>Total Distance</th>
          <th>Latest Upload</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of walkers">
          <td>{{x.name}}</td>
          <td>{{x.totalDist}} Miles</td>
          <td *ngIf="x.distance.length >= 1"><button type="button" data-toggle="modal" (click)="show(x.distance[0][2])">
            <img style="width: 40px;" [src]="x.distance[x.distance.length-1][2]" alt="">
          </button></td>
          <div class="modal" [attr.id]="x.distance[0][2]">
            <div class="modal-dialog lead-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" (click)="close(x.distance[0][2])">&times;</button>
                </div>
                <div class="modal-body">
                  <img style="width: 100%;" [src]="x.distance[x.distance.length-1][2]" alt="">
                </div>
              </div>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
    <!-- ========================== -->
  </div>
  <div class="col-4">
    <div class="card">
      <h3 class="card-header">This Months Challenge</h3>
      <p>This month the top distance both in runners and 
        walkers will win.
      </p>
      <p>Be sure to upload a pic of tracked miles</p>
    </div>
    <div class="card">
      <h3 class="card-header">Last Months Winner</h3>
      <h2>Tim Tommy!</h2>
    </div>
  </div>

