.card{
    padding: 20px;
    margin-top: 20px;
}
.addform{
    margin-top: 20px;
    width: 400px;
    margin: 0 auto;
}
.btn{
    margin-top: 20px;
    background-color: #DE532C;
    margin-left: 20px;
    border: none;
}
.card-header{
    background-color: rgba(86, 123, 151, 0.2);
    text-align: center;
}
.btn{
    border: none;
}
.read-btn{
    margin-bottom: 20px;

}


.navbar-dark{
    background-color: rgba(86, 123, 151, 0.2);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(86, 123, 151);
    font-size: 20px;
    /* margin-left: 265px; */
}

.navbar-dark .navbar-brand {
    color: rgb(86, 123, 151);
    font-size: 20px;
    font-weight: bolder;

}
.navbar-nav{
    margin-left: 265px;
}
.modal{
    overflow-y: auto;
}

@media only screen and (max-width: 600px) {
    #chart {
        margin-bottom: 100px;
    }
    .navbar-nav{
        margin-left: 0;
    }
    .card{
        width: 100%;
    }
  }