<div class="card">
  <h3 class="card-header">Welcome {{user.name}}</h3>
  <div class="row">
    <div class="col">
      <div class="card">
        <h3 class="card-header">Calender</h3>
        <div *ngFor="let x of user.distance" class="media border p-3">
          <img style="width: 40px;" [src]="x[2]" alt="">
          <i class="fas fa-3x fa-money-check-alt mr-3 mt-3 rounded-circle" style="width:60px;"></i>
          <div class="media-body">
            <h4>{{x[1]}} Miles <small><i>on {{x[0]|date:'MM/dd/yy'}}</i></small></h4>
          </div>
        </div>
      </div>

    </div>
    <div class="col">
      <canvas id="chart"></canvas>
    </div>
  </div>

</div>



<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Add Miles
</button>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Miles</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="card addform">
          <!-- <h3 class="card-header">Add Miles</h3> -->
          <form [formGroup]="milesForm" (ngSubmit)='addMiles()'>
            <label for="">Distance</label>
            <input class="form-control" formControlName='miles' type="number">
            <label for="">date</label>
            <input class="form-control" formControlName='date' type="date">
            <input *ngIf="File" class="btn btn-dark" type="submit">
          </form>
            <input class="btn btn-dark" type="file" (change)="Upload($event)">
            <form (submit)="test()">
              <button *ngIf="File" class="btn btn-dark" type="submit">
                <div *ngIf="spinner" class="spinner-border spinner-border-sm"></div>
                <span *ngIf="!spinner">Read Image</span>
              </button>
              <!-- <input *ngIf="File" class="btn btn-dark" type="submit" value="Read Image"> -->
            </form>

            <img style="width: 100%;" [src]="base" alt="">


       






        </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
      </div>

    </div>
  </div>
</div>