<nav class="navbar navbar-expand-md navbar-dark">
  <h3 style="font-size: 35px;" class="navbar-brand">Welcome {{user.name}}</h3>
  <!-- <a class="navbar-brand" href="#">Welcome {{user.name}}</a> -->
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#myModal" href="#">Add Miles | </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="showbtn" (click)="showlead()" href="#">Show Leaderboard | </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/" (click)="logout()">Logout | </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#GoalModal" href="#">Edit Goal</a>
      </li>
    </ul>
  </div>
</nav>
  <div class="row">
    <div class="col">
      <div class="center">
        <a style="font-size: 10px;" class="btn btn-dark" data-toggle="modal" data-target="#myModal" href="#">Add Miles</a>
        <a style="font-size: 10px;margin-left: 20px;"  class="btn btn-dark" id="showbtn" (click)="showlead()" href="#">Leaderboard</a>
      </div>

      
      <div class="card">
        <h3 class="card-header">Entries</h3>

        <!-- ==== Dynamic Distance Entry ====== -->
        <div *ngFor="let x of user.distance" class="media border p-3">
          <button type="button" data-toggle="modal" (click)="show(x[0])">
            <img style="width: 40px;" [src]="x[2]" alt="">
          </button>
          <div class="modal" [attr.id]="x[0]">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">{{x[1]}} Miles on {{x[0]|date:'MM/dd/yy'}}</h4>
                  <button type="button" class="close" (click)="close(x[0])">&times;</button>
                </div>
                <div class="modal-body">
                  <img style="width: 100%;" [src]="x[2]" alt="">
                </div>
              </div>
            </div>
          </div>
          <i class="fas fa-3x fa-money-check-alt mr-3 mt-3 rounded-circle" style="width:60px;"></i>
          <div class="media-body">
            <h4>{{x[1]}} Miles <small><i>on {{x[0]|date:'MM/dd/yy'}}</i></small></h4>
          </div>
          <img (click)="deleteEntry(x)" src="../assets/img/icons8-delete-16.PNG" alt="">
        </div>
        <!-- ================================ -->
      </div>

    </div>

    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3>{{user.totalDist}} Total Miles out of {{user.goal}}</h3>
          <hr>
          <h6>{{Quote}}</h6>
        </div>
        <canvas id="chart"></canvas>
      </div>

      </div>
  </div>
<!-- ==== Add Miles ==== -->

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Miles</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <!-- === Add Miles Form === -->
        <div class="card addform">
          <form [formGroup]="milesForm" (ngSubmit)='addMiles()'>
            <label for="">Distance</label>
            <div class="goal-div">
              <input class="form-control" formControlName='miles' type="number">
              <span *ngIf="this.milesForm.controls.miles.value != null">{{this.milesForm.controls.miles.value + " Miles"}}</span>
              <span *ngIf="this.milesForm.controls.miles.value == null">{{' ' + " Miles"}}</span>
          </div>
            <label for="">Date</label>
            <input class="form-control" formControlName='date' type="date">
            <input *ngIf="File" class="btn btn-dark" type="submit">
          </form>
          <input class="btn btn-dark" type="file" (change)="Upload($event)">
          <form (submit)="ReadImg()">
            <!-- <button *ngIf="File" class="btn btn-dark read-btn" type="submit">
              <div *ngIf="spinner" class="spinner-border spinner-border-sm"></div>
              <span *ngIf="!spinner">Read Image</span>
            </button> -->
          </form>
          <img style="width: 100%;" [src]="base" alt="">
        </div>
        <!-- ========================== -->

      </div>

    </div>
  </div>
</div>

<!-- === Edit Goal Modal === -->
<div class="modal" id="GoalModal">
  <div class="modal-dialog lead-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="milesForm" (ngSubmit)='updateGoal()'>
          <label for="">Edit Goal</label>
          <div class="goal-div">
            <input class="form-control" formControlName='goal' type="number">
            <span *ngIf="this.milesForm.controls.goal.value != null">{{this.milesForm.controls.goal.value + " Miles"}}</span>
            <span *ngIf="this.milesForm.controls.goal.value == null">{{' ' + " Miles"}}</span>
        </div>
          <input class="btn btn-dark " type="submit" value="Save">
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ===================== -->