<div class="container animated fadeInLeft">
    <div class="card">
        <h3 class="card-header">Register</h3>
        <form [formGroup]="regForm" (ngSubmit)="RegUser()">
            <!-- === Name -->
            <div class="row">
                <div class="col">
                    <label for="">First & Last Name</label>
                </div>
                <div class="col">
                    <label style="color: red; margin-left: 40px;" *ngIf="errors.name">{{errors.name}}</label>
                </div>
            </div>
            <input class="form-control" formControlName="name" type="text">
            <!-- === Email -->
            <div class="row">
                <div class="col">
                    <label for="">Email</label>
                </div>
                <div class="col">
                    <label style="color: red; margin-left: 40px;" *ngIf="errors.email">{{errors.email}}</label>
                </div>
            </div>
            <input class="form-control" formControlName="email" type="email">
            <!-- === Password -->
            <div class="row">
                <div class="col">
                    <label for="">Password</label>
                </div>
                <div class="col">
                    <label style="color: red; margin-left: 40px;" *ngIf="errors.password">{{errors.password}}</label>
                </div>
            </div>
            <input class="form-control" formControlName="password" type="password">
            <!-- === Confirm Password -->
            <label for="">Confirm Password</label>
            <input class="form-control" formControlName="con_password" type="password">
            <!-- === Gender -->
            <div class="row">
                <div class="col">
                    <label for="">Gender</label>
                </div>
                <div class="col">
                    <label style="color: red; margin-left: 40px;" *ngIf="errors.gender">{{errors.gender}}</label>
                </div>
            </div>
            <select class="form-control" formControlName="gender" >
                <option value="male">Male</option>
                <option value="Female">Female</option>
            </select>
            <!-- === Goal -->
            <div class="row">
                <div class="col">
                    <label for="">Distance Goal</label>
                </div>
                <div class="col">
                    <label style="color: red; margin-left: 40px;" *ngIf="errors.goal">{{errors.goal}}</label>
                </div>
            </div>
            <div class="goal-div">
                <input class="form-control" formControlName="goal" type="number">
                <span *ngIf="this.regForm.controls.goal.value != null ">{{this.regForm.controls.goal.value + " Miles"}}</span>
                <span *ngIf="this.regForm.controls.goal.value == null">{{" "+ " Miles"}}</span>

            </div>
            <!-- === Run Type -->
            <div class="row">
                <div class="col">
                    <label for="">Runner Type</label>
                </div>
                <div class="col">
                    <label style="color: red; margin-left: 40px;" *ngIf="errors.gender">{{errors.gender}}</label>
                </div>
            </div>
            <select class="form-control" formControlName="runnerType" >
                <option value="runner">Runner</option>
                <option value="power walker">Power Walker</option>
            </select>
            <!-- === Submit -->
            <input class="btn btn-dark" value="Register" type="submit">
        </form>
        <a style="margin-top: 20px;" href="#" (click)="showLogin()">Already have an account?</a>
    </div>
</div>

