@font-face {
    font-family: 'lovelyFont';
    src: url("/assets/fonts/BebasNeue-Bold.otf") 
}
.card{
    width: 400px;
    padding: 20px;
    margin: 0 auto;
}
.btn{
    margin-top: 20px;
    background-color: #008FCE;
    border: none;
}
.card-header{
    background-color: rgba(0,143,206, 0.2);
    font-family: 'lovelyFont';
    text-align: center;
}
span{
    position: absolute;
    top: 7px;
    left:13px;
}
.goal-div{
    position: relative;
    height:100%;
    width: 100%
}
@media only screen and (max-width: 600px) {
    .card {
        width: 100%;    
    }
    span{
        top: 7px;
    }
  }