
@font-face {
    font-family: 'TitleFont';
    src: url("/assets/fonts/Paintingwithchocolate-K5mo.ttf") 
}
@font-face {
    font-family: 'lovelyFont';
    src: url("/assets/fonts/BebasNeue-Bold.otf") 
}
.jumbotron{
    background-color: #008FCE;
    color: white;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
a{
    color:white;
    /* margin-left: 66px; */
    text-decoration: underline;
    text-underline-position: under;
}
span{
    font-size: 10px;
    position: absolute;
    top: 63px;
    left: 601px;
}
.links{
    position: absolute;
    top: 8px;
    left: 1039px;
    font-size: 20px;
    text-align: right;
    font-family: 'lovelyFont';
    
}
.main-title{
    margin: 0 auto;
    position: absolute;
    top: 23px;
    left: 605px;
}
h2{
    font-size: 53px;
    font-family: "TitleFont";
    margin-top: 20px;}
img{
    width: 52px;
}
.navbar-dark .navbar-nav .nav-link {
    color: wheat;
    font-size: 20px;
    margin-left: 150px;
}
.login-reg{
    background-color: tomato;
}
.arm{
    animation-duration: 3s;
    animation-iteration-count: 5;
    width: 100px;
}
.btn{
    margin-top: 20px;
    background-color: #4582CE;
    margin-left: 20px;
    border: none;
}
.footer{
    height: 106px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}
@media only screen and (max-width: 600px) {
    .navbar-dark .navbar-nav .nav-link {
        margin-left: 20px
    }
    h2{
        font-size: 29px;
    }
    span{
        top: 63px;
        left: 70px;
    }
    .links{
        top: 2px;
        left: 250px;
        font-size: 10px; 
    }
    .main-title{
        top: 23px;
        left: 95px;
    }
    .arm{
        width: 57px;
    }
  }
