<div class="container">
    <div class="jumbotron">
        <nav class="navbar navbar-expand-sm  navbar-dark">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="#"><img src="../assets/img/Capture.PNG" alt="vvv">
            </a>
            
            <!-- Links -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/groups/FatTuesdayFam/">Facebook</a>
              </li>
              <li class="nav-item">
                <a *ngIf="loggedIn" class="nav-link" href="/">Logout</a>
              </li>
              <li class="nav-item">
                <!-- <a class="nav-link" href="#">Link 3</a> -->
              </li>
            </ul>
          </nav>
    </div>
    <div class="row">
        <div class="col animated fadeInLeft">
            <app-login *ngIf="loggedIn == false" ></app-login>

        </div>
        <div class="col animated fadeInRight">
            <app-register *ngIf="loggedIn == false" ></app-register>

        </div>
    </div>
    <app-user-dash *ngIf="loggedIn == true"></app-user-dash>
    <app-leader></app-leader>
    
    <router-outlet ></router-outlet>
</div>