<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <img src="../assets/img/Capture.PNG" alt="vvv">
                
            </div>
            <div class="col">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-login *ngIf="loggedIn == false" ></app-login>

        </div>
        <div class="col">
            <app-register *ngIf="loggedIn == false" ></app-register>

        </div>
    </div>
    <app-user-dash *ngIf="loggedIn == true"></app-user-dash>
    
    <router-outlet ></router-outlet>
</div>