@font-face {
    font-family: 'TitleFont';
    src: url("/assets/fonts/Paintingwithchocolate-K5mo.ttf") 

}

.jumbotron{
    background-color: #DE532C;
    color: white;
    padding: 0;
}
h2{
    font-size: 53px;
    font-family: "TitleFont";
    margin-top: 20px;}

img{
    width: 53px;
    /* width: 85px; */
}

.navbar-dark .navbar-nav .nav-link {
    color: wheat;
    font-size: 20px;
    margin-left: 150px;
    
}
.login-reg{
    background-color: tomato;
}
.arm{
    animation-duration: 3s;
    animation-iteration-count: 5;
}
.footer{
    height: 106px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .navbar-dark .navbar-nav .nav-link {
        margin-left: 20px
        
    }
    h2{
        font-size: 29px;
    }

  }
