<div class="container">
    <div class="jumbotron">
        <nav class="navbar navbar-expand-sm  navbar-dark">
            <a class="navbar-brand" href="#"><img class=" arm animated heartBeat delay-2s" src="../assets/img/arm.PNG" alt="vvv">
            <!-- <a class="navbar-brand" href="#"><img class=" arm animated infinite heartBeat delay-2s" src="../assets/img/splat.png" alt="vvv"> -->
            </a>   
            <h2>Fit Fam Run</h2>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://www.facebook.com/groups/FatTuesdayFam/">Facebook</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://www.orangetheoryfitness.com/the-workout">OrangeTheory</a>
              </li>
              <!-- <li class="nav-item">
                <a *ngIf="loggedIn" class="nav-link" href="/">Logout</a>
              </li> -->
              <li class="nav-item">
                <!-- <a class="nav-link" href="#">Link 3</a> -->
              </li>
            </ul>
          </nav>
    </div>
    <!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#de532c" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner> -->


      <app-login *ngIf="loggedIn == false && showLogin == true" ></app-login>

      <app-register *ngIf="loggedIn == false && showReg == true" ></app-register>

    <app-user-dash *ngIf="userDash == true"></app-user-dash>

    <app-leader-dash *ngIf="showLeader"></app-leader-dash>    
    <router-outlet ></router-outlet>
    <div  *ngIf="userDash == false" class="jumbotron footer">
      <small>Created and Desiged by : Christopher Carey</small><br>
      <a target="_blank" href="http://linkedin.com/in/christopher-carey-699b64175"><img style="margin-top: 10px;" src="../assets/img/linkedin.PNG" alt=""> </a>
      <a target="_blank" href="http://christopher-carey.com/"><img style="width: 52px;margin-left: 20px;margin-top: 10px;" src="../assets/img/icons8-resume-website-50.PNG" alt=""></a>
    </div>
    <div *ngIf="userDash == true" class="jumbotron footer">
      <small>If you would like to sponsor a prize for a challange, please contact us. </small><br>
      <h2>Your Ad Here!</h2>    
    </div>
  </div>