.table-dark{
    background-color: #567B97;
}
.card-header{
    margin-top: 20px;
}
.title{
    margin-top: 20px;
    background-color: rgba(222, 83, 44, 0.2);
    text-align: center;
}
.tableTile{
    background-color: rgba(86, 123, 151, 0.2);
    text-align: center;
}
.arrow{
    display: none;
    width: 20px;
    float: right;
    margin-top: 11px;
    animation-duration: 3s;
}
@media (min-width: 576px){
    .lead-dialog {
        max-width: 801px;
    }

}

.navbar-dark{
    background-color: rgba(86, 123, 151, 0.2);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(86, 123, 151);
    font-size: 20px;
    /* margin-left: 265px; */
}

.navbar-dark .navbar-brand {
    color: rgb(86, 123, 151);
    font-size: 20px;
    font-weight: bolder;

}
.navbar-nav{
    margin-left: 265px;
}
@media only screen and (max-width: 766px) {
 .arrow{
     display: block;
 }
  }
