<div class="card-header title" data-aos="zoom-in-up">
  <h3 >Leader Board</h3>
  <small *ngIf="runnerr" class="total-member">{{runnerr.length + walkers.length}} Members and counting!!</small>

</div>


<div class="row">
  <div class="col" id="runner-header">
    <div class="card-header tableTile">
      <div class="row">
        <div class="col-10">
          <h3   class="pull-right">Runners</h3>
        </div>
        <div class="col-2">
          <img class="arrow animated slideInDown infinite" (click)="scrollDown()" src="../assets/img/icons8-double-down-64.PNG" alt="">
        </div>

      </div>
      <div *ngIf="!runnerr"class="spinner-border text-muted"></div>

    </div>
    <table *ngIf="runnerr" class="table table-dark table-hover">
      <thead>
        <tr>
          <th></th>
          <th>First name</th>
          <th>Total Distance</th>
          <th>Latest Upload</th>
        </tr>
      </thead>

      <tbody>
        <tr  *ngFor="let x of runnerr.slice(0,3),let z = index">
          <td>
            <img *ngIf="z == 0" style="width: 40px;" src="../assets/img/flex/GOLD-FLex.PNG"  alt="">
            <img *ngIf="z == 1" style="width: 40px;" src="../assets/img/flex/SILVER-FLex.PNG"  alt="">
            <img *ngIf="z == 2" style="width: 40px;" src="../assets/img/flex/BRONZE-FLex.PNG"  alt="">
            

          </td>
          <td>{{x.name}}</td>
          <td>{{x.totalDist}} Miles</td>
          <td *ngIf="x.distance.length >= 1"><img style="width: 40px;" [src]="x.distance[0][2]" alt=""></td>



        </tr>
        <tr  *ngFor="let x of runnerr.slice(3),let z = index">
          <td>{{z+1}}</td>
          <td>{{x.name}}</td>
          <td>{{x.totalDist}} Miles</td>
          <td *ngIf="x.distance.length >= 1"><img style="width: 40px;" [src]="x.distance[0][2]" alt=""></td>

        </tr>
      </tbody>
    </table>

  </div>
  <div class="col" id="walker-header">
    <div class="card-header tableTile">
      <div class="row">
        <div class="col-10">
          <h3 class="pull-right">Power Walkers</h3>
        </div>
        <div class="col-2">
          <img class="arrow animated slideInUp infinite" (click)="scrollUp()" src="../assets/img/icons8-double-down-644.PNG" alt="">
        </div>

      </div>
      <div *ngIf="!runnerr" class="spinner-border text-muted"></div>


    </div>
    <table *ngIf="walkers" class="table table-dark table-hover">
      <thead>
        <tr>
          <th></th>
          <th>First name</th>
          <th>Total Distance</th>
          <th>Latest Upload</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of walkers.slice(0,3),let z = index">
          <td>
            <img *ngIf="z == 0" style="width: 40px;" src="../assets/img/flex/GOLD-FLex.PNG"  alt="">
            <img *ngIf="z == 1" style="width: 40px;" src="../assets/img/flex/SILVER-FLex.PNG"  alt="">
            <img *ngIf="z == 2" style="width: 40px;" src="../assets/img/flex/BRONZE-FLex.PNG"  alt="">

          </td>
          <td>{{x.name}}</td>
          <td>{{x.totalDist}} Miles</td>
          <td *ngIf="x.distance.length >= 1"><img style="width: 40px;" [src]="x.distance[0][2]" alt=""></td>



        </tr>
      
        <tr *ngFor="let x of walkers.slice(3),let z = index">
          <td>{{z+1}}</td>
          <td>{{x.name}}</td>
          <td>{{x.totalDist}} Miles <small>(compare: {{x.totalDist*2}})</small></td>
          <td *ngIf="x.distance.length >= 1"><img style="width: 40px;" [src]="x.distance[0][2]" alt=""></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>


