<h3 class="card-header title" data-aos="zoom-in-up">Leader Board</h3>
<div class="row">
  <div class="col" id="runner-header">
    <div class="card-header tableTile">
      <div class="row">
        <div class="col-10">
          <h3   class="pull-right">Runners</h3>
        </div>
        <div class="col-2">
          <img class="arrow animated slideInDown infinite" (click)="scrollDown()" src="../assets/img/icons8-double-down-64.PNG" alt="">
        </div>

      </div>

    </div>
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th></th>
          <th>First name</th>
          <th>Total Distance</th>
          <th>Latest Upload</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img style="width: 40px;" src="../assets/img/flex/GOLD-FLEX.PNG"  alt=""></td>
          <td>
            <!-- <img style="width: 20px;" src="../assets/img/flex/GOLD-FLEX.PNG"  alt=""> -->
            {{runner[0].name}}
            <!-- <img style="width: 20px;transform: scaleX(-1);" src="../assets/img/flex/GOLD-FLEX.PNG"  alt=""></td> -->
          <td>{{runner[0].totalDist}} Miles</td>
          <td *ngIf="runner[0].distance.length >= 1"><img style="width: 40px;" [src]="runner[0].distance[0][2]" alt=""></td>

        </tr>
        <tr>
          <td><img style="width: 40px;" src="../assets/img/flex/SILVER-FLEX.PNG"  alt=""></td>
          <td>
            <!-- <img style="width: 20px;" src="../assets/img/flex/GOLD-FLEX.PNG"  alt=""> -->
            {{runner[1].name}}
            <!-- <img style="width: 20px;transform: scaleX(-1);" src="../assets/img/flex/GOLD-FLEX.PNG"  alt=""></td> -->
          <td>{{runner[1].totalDist}} Miles</td>
          <td *ngIf="runner[1].distance.length >= 1"><img style="width: 40px;" [src]="runner[1].distance[0][2]" alt=""></td>

        </tr>
        <tr>
          <td><img style="width: 40px;" src="../assets/img/flex/GOLD-FLEX.PNG"  alt=""></td>
          <td>
            <!-- <img style="width: 20px;" src="../assets/img/flex/GOLD-FLEX.PNG"  alt=""> -->
            {{runner[2].name}}
            <!-- <img style="width: 20px;transform: scaleX(-1);" src="../assets/img/flex/GOLD-FLEX.PNG"  alt=""></td> -->
          <td>{{runner[2].totalDist}} Miles</td>
          <td *ngIf="runner[2].distance.length >= 1"><img style="width: 40px;" [src]="runner[2].distance[0][2]" alt=""></td>

        </tr>
        <tr *ngFor="let x of runner.slice(3),let z = index">
          <td>{{z+4}}</td>
          <td>{{x.name}}</td>
          <td>{{x.totalDist}} Miles</td>
          <td *ngIf="x.distance.length >= 1"><img style="width: 40px;" [src]="x.distance[0][2]" alt=""></td>

        </tr>
      </tbody>
    </table>

  </div>
  <div class="col" id="walker-header">
    <div class="card-header tableTile">
      <div class="row">
        <div class="col-10">
          <h3 class="pull-right">Power Walkers</h3>
        </div>
        <div class="col-2">
          <img class="arrow animated slideInUp infinite" (click)="scrollUp()" src="../assets/img/icons8-double-down-644.PNG" alt="">
        </div>

      </div>

    </div>
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th></th>
          <th>First name</th>
          <th>Total Distance</th>
          <th>Latest Upload</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img style="width: 40px;" src="../assets/img/flex/GOLD-FLEX.PNG"  alt=""></td>
          <td>
            <!-- <img style="width: 20px;" src="../assets/img/flex/GOLD-FLEX.PNG"  alt=""> -->
            {{walkers[0].name}}
            <!-- <img style="width: 20px;transform: scaleX(-1);" src="../assets/img/flex/GOLD-FLEX.PNG"  alt=""></td> -->
          <td>{{walkers[0].totalDist}} Miles</td>
          <td *ngIf="walkers[0].distance.length >= 1"><img style="width: 40px;" [src]="walkers[0].distance[0][2]" alt=""></td>
        </tr>
        <tr>
          <td><img style="width: 40px;" src="../assets/img/flex/SILVER-FLEX.PNG" alt=""></td>
          <td>
            <!-- <img style="width: 20px;" src="../assets/img/flex/GOLD-FLEX.PNG"  alt=""> -->
            {{walkers[1].name}}
            <!-- <img style="width: 20px;transform: scaleX(-1);" src="../assets/img/flex/GOLD-FLEX.PNG"  alt=""></td> -->
          <td>{{walkers[1].totalDist}} Miles</td>
          <td *ngIf="walkers[1].distance.length >= 1"><img style="width: 40px;" [src]="walkers[1].distance[0][2]" alt=""></td>
        </tr>
        <tr>
          <td><img style="width: 40px;" src="../assets/img/flex/GOLD-FLEX.PNG"  alt=""></td>
          <td>
            <!-- <img style="width: 20px;" src="../assets/img/flex/GOLD-FLEX.PNG"  alt=""> -->
            {{walkers[2].name}}
            <!-- <img style="width: 20px;transform: scaleX(-1);" src="../assets/img/flex/GOLD-FLEX.PNG"  alt=""></td> -->
          <td>{{walkers[2].totalDist}} Miles</td>
          <td *ngIf="walkers[2].distance.length >= 1"><img style="width: 40px;" [src]="walkers[2].distance[0][2]" alt=""></td>
        </tr>
        <tr *ngFor="let x of walkers.slice(3),let z = index">
          <td>{{z+4}}</td>
          <td>{{x.name}}</td>
          <td>{{x.totalDist}} Miles <small>(compare: {{x.totalDist*2}})</small></td>
          <td *ngIf="x.distance.length >= 1"><img style="width: 40px;" [src]="x.distance[0][2]" alt=""></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>


